section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conjuntoInput{
	width: 100%;
	align-items: left;
}
.buttonAndInput{
	margin-top: 20px;
}
button{
	margin: 20px;
	width: clamp(50px, 12vw, 120px);
	height: clamp(28px, 12vh, 100px;)
}
