
html, body{
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h2{
	margin: 0;
}
input{
	margin: 10px;
	width: clamp(100px, 60%, 360px);
	height: clamp(40px, 40%, 150px;);
}
button{
	width: clamp(150px, 20%, 320px);
	height: clamp(50px, 10%, 180px);
	margin: 6px;
	font-size: clamp(12px, 2vw, 18px);
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: clamp(100px, 60%, 360px);
	height: clamp(40px, 40%, 150px;);
}
form{
	margin-left: 24%;
}


.h{
	display: none;
}
