@font-face {
    font-family: "normal";
    src: url(../../assets/fonts/FunnelSans.ttf);
}
@font-face {
    font-family: "comic";
    src: url(../../assets/fonts/ComicNeueRegular.ttf);
}
@font-face {
    font-family: "hacker";
    src: url(../../assets/fonts/RobotoMono.ttf);
}
@font-face {
    font-family: "cuadrado";
    src: url(../../assets/fonts/AldrichRegular.ttf);
}